# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdb
*.pdb
*.ilk

Zwrotomat/Zwrotomat.pro.user
build-Zwrotomat-Desktop_Qt_6_1_0_MSVC2019_64bit-Debug/Makefile.Release
build-Zwrotomat-Desktop_Qt_6_1_0_MSVC2019_64bit-Debug/Makefile.Debug
build-Zwrotomat-Desktop_Qt_6_1_0_MSVC2019_64bit-Debug/debug/Zwrotomat.vc.pdb
build-Zwrotomat-Desktop_Qt_6_1_0_MSVC2019_64bit-Debug/debug/Zwrotomat.pdb
build-Zwrotomat-Desktop_Qt_6_1_0_MSVC2019_64bit-Debug/debug/Zwrotomat.ilk
*.pdb
